body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}
/* Hero */
.hero {
  background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.5)), url('../public/images/rolex.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 100vh; 
}

.hero h1, .hero, .lead {
  color: white;
}

.hero h1 {
  font-size: 6rem;
  text-shadow: 2px 2px 4px#8C7758;
}

.hero-col-custom {
  padding-bottom: 200px; 
}

.lead {
  font-size: 29px;
  text-shadow: 2px 2px 4px#8C7758;
  /* border-bottom: 1px solid white; */
}

.btn-custom {
  width: 150px;
  height: 45px;
  background-color: #8C7758;
  color: white;
  
}

.header-section {
}


/* Navigation */
.navbar-custom {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  background-color: black;
  color: white !important;
  transition:  0.32s ease-in-out;
}

.scrolled {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  background-color: rgba(0,0,0, 0.6);
  color: white !important;
  transition:  0.32s ease-in-out;
}

.nav-link,
.navbar-brand {
  color: white !important;
  
}

.navbar-toggler-icon {
  background-color: rgb(0, 0, 0) !important;
  border-radius: 10%;
}

/* Shop Section */
.shop-header {
  color: black;
  padding: 20px;
  margin: 20px;
}

/* Item */

.item {
  border-radius: 0;
}


/* Authentic Section */
.auth-section {
  display: flex;
  color: white;
}

.auth-section-img {
  width: 100%;
  height: 100%;
}

.auth-section-text {
  width: 100%;
  background-color: rgb(20, 20, 20);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.auth-section button {
  width: 150px;
  height:40px;
}

.auth-section button:hover {
  background-color: #a48c67;
  color: white;
}

.auth-section-img img{
  width: 100%;
  height: 100%;
}

/* Attributes Section */
.attr-container {
  margin: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attr-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
}

.attribute-1,
.attribute-2,
.attribute-3 {
  display: flex;
  flex-direction: column;
  width: 30%; 
  margin: 0 10px; 
  border-left: 1px solid #8C7758 !important;
  padding-left: 30px;
  /* color:white; */
}

.button-container {
  margin-top: 60px; 
}

.button-container button {
  width: 200px;
  height: 45px;
  background-color: #8C7758;
  color: white;
}

/* Explore */
.explore-header {
  text-align: center;
  margin: 0 0 30px;
  color: white;
}

.explore-row {
  pointer-events: none;
}

.explore-link{
  color: white;
  text-decoration: none;
  pointer-events: auto;
}

.explore-link:hover {
  text-decoration: underline;
  pointer-events: auto;
}

/* Login */ 
.login-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.login-form {
border: 0.1px solid black;
height: 60%;
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.login-form h1 {
 padding-bottom: 20px;;
}

.input {
  width: 95%
}

.login-form button {
  width: 95%;
  color: white;
  background-color: black;
  border: none;
  padding: 10px;
}

.login-form a {
  text-decoration: none;
  color: white;
}

.login-form p {
  margin: 10px;
}

.login-form p a {
  color: black;
  text-decoration: underline;
}

.login-form p a:hover {
  font-weight: 500;
}

/* Register */
.register-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.register-form {
border: 0.1px solid black;
height: 60%;
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.register-form h1 {
 padding-bottom: 20px;;
}

.input {
  width: 95%
}

.register-form button {
  width: 95%;
  color: white;
  background-color: black;
  border: none;
  padding: 10px;
}

.register-form a {
  text-decoration: none;
  color: white;
}

.register-form p {
  margin: 10px;
}

.register-form p a {
  color: black;
  text-decoration: underline;
}

.register-form p a:hover {
  font-weight: 500;
}

.checkbox {
  padding-top: 7px;
}

/* Watches Page/Watch */
.watches-page-hero {
  background:  url('../public/images/watches/all-watches.avif');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 70vh; 
}

.watches-page-hero h1 {
  color: black;
  text-decoration: underline;
  margin: 30px;
}

.watches-page-hero p {
  color: black;
}

.watches-row-custom {
  height: 70vh ;
}

.watch-section {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent), url('../public/images/watches/section-img.jpeg');  background-size: cover;
  background-position: center;
  height: 400px; 
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  color: white;
}

.watch-section-overlay {
  position: absolute;
  left: 20px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.watch-section h2 {
  font-size: 50px;
  margin: 0;
  color: white;
}

.watch-section p {
  font-size: 30px;
  margin: 0;
  color: white;
}

.watch-link {
  text-decoration: none;
}

.watch-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* Ties Page */
.ties-page-hero {
  background:linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.5)),  url('../public/images/ties/all-ties.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 70vh; 
}

.ties-page-hero h1 {
  color: black;
  text-decoration: underline;
  margin: 30px;
}

.ties-page-hero p {
  color: black;
}

.ties-row-custom {
  height: 70vh ;
}

.tie-section {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent), url('../public/images/ties/section-img.jpeg');  background-size: cover;
  background-position: center;
  height: 400px; 
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  color: white;
}

.tie-section-overlay {
  position: absolute;
  left: 20px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.tie-section h2 {
  font-size: 50px;
  margin: 0;
  color: white;
}

.tie-section p {
  font-size: 30px;
  margin: 0;
  color: white;
}

/* Shoes Page */
.shoes-page-hero {
  background:linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.3)),  url('../public/images/shoes/all-shoes.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 70vh; 
}

.shoes-page-hero h1 {
  color: black;
  text-decoration: underline;
  margin: 30px;
}

.shoes-page-hero p {
  color: black;
}

.shoes-row-custom {
  height: 70vh;
}

.shoe-section {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent), url('../public/images/shoes/section-img.jpeg');  background-size: cover;
  background-position: center;
  height: 400px; 
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  color: white;
}

.shoe-section-overlay {
  position: absolute;
  left: 20px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.shoe-section h2 {
  font-size: 50px;
  margin: 0;
  color: white;
}

.shoe-section p {
  font-size: 30px;
  margin: 0;
  color: white;
}

/* Belts Page */
.belts-page-hero {
  background:linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.3)),  url('../public/images/belts/all-belts.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 70vh; 
}

.belts-page-hero h1 {
  color: black;
  text-decoration: underline;
  margin: 30px;
}

.belts-page-hero p {
  color: black;
}

.belts-row-custom {
  height: 70vh;
}

.belt-section {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent), url('../public/images/belts/section-img.jpeg');  background-size: cover;
  background-position: center;
  height: 400px; 
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  color: white;
}

.belt-section-overlay {
  position: absolute;
  left: 20px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.belt-section h2 {
  font-size: 50px;
  margin: 0;
  color: white;
}

.belt-section p {
  font-size: 30px;
  margin: 0;
  color: white;
}

/* Footer */
.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
}












