 * {
  margin: 0;
  padding: 0;
 }
 
 html, body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Hero */
.hero {
  background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.5)), url('/images/hero.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 100vh; 
}

.hero h1, .hero, .lead {
  color: white;
}

.hero h1 {
  font-size: 6rem;
  text-shadow: 2px 2px 4px#8C7758;
}

.hero a {
  text-decoration: none;
  color: white;
}

.hero-col-custom {
  padding-bottom: 200px;
}

.lead {
  font-size: 29px;
  text-shadow: 2px 2px 4px#8C7758;
  /* border-bottom: 1px solid white; */
}

.btn-custom {
  width: 150px;
  height: 45px;
  background-color: #8C7758;
  transition: background-color 0.3s, color 0.3s;
  color: white;
}

.btn-custom:hover {
  background-color: #a48c67;
}


/* Navigation */
.navbar-custom {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  background-color: black;
  color: white !important;
  transition:  0.32s ease-in-out;
}

.navigation-dropdown {
  padding-left: 5px;
}

.scrolled {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  background-color: rgba(0,0,0, 0.6);
  color: white !important;
  transition:  0.32s ease-in-out;
}

.nav-link,
.navbar-brand {
  color: white !important;
  
}

.navbar-toggler-icon {
  background-color: rgb(0, 0, 0) !important;
  border-radius: 10%;
}

/* Shop Section */
.shop-header {
  color: black;
  padding: 20px;
  margin: 20px;
}

/* About Us Page */
.about-us {
  padding-top: 80px;
}

.hero-section {
  background-color: #f5f5f5; 
}

.hero-content h1 {
  font-size: 3rem; 
  font-weight: bold;
  color: #333; 
  margin-bottom: 1rem; 
}

.hero-content p {
  font-size: 1.2rem; 
  line-height: 1.5; 
  color: #667; 
}

.image-sections {
  padding: 50px 0; 
}

.image-wrapper {
  position: relative; 
  margin-bottom: 3rem; 
}

.image-wrapper img {
  border-radius: 5px; 
  transition: transform 0.3s ease-in-out; 
}

.image-wrapper:hover img {
  transform: scale(1.1); 
}

.image-description {
  position: absolute;
  bottom: 0; 
  left: 0; 
  width: 100%; 
  padding: 1rem; 
  background-color: rgba(0, 0, 0, 0.7); 
  color: #fff; 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
}

.image-wrapper:hover .image-description {
  opacity: 1; 
}

.image-description h3 {
  font-size: 1.2rem; 
  margin-bottom: 0.5rem; 
  color: #fff; 
}

.image-description p {
  font-size: 1rem; 
  line-height: 1.5; 
  color: #fff; 
}

.trust-section {
  background-color: #eee; 
  padding: 50px 0; 
  display: flex;
  flex-direction: column;
  
}

.trust-section img {
  width: 50px; 
  height: 50px; 
  margin: 0 10px 10px 0; 
  border-radius: 50%; 
  transition: transform 0.3s ease-in-out;
}

.trust-section img:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}
.trust-content h2 {
  font-size: 2.5rem; 
  font-weight: bold;
  color: #333; 
  margin-bottom: 1rem; 
}

.trust-content p {
  font-size: 1.1rem;
  line-height: 1.5; 
  color: #666; 
}

.additional-section {
  background-color: #f0f0f0;
  padding: 75px 0; 
  border-top: 1px solid rgba(0, 0, 0, 0.1); 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05); 
  display: flex; 
  align-items: center; 
}

.additional-section-image {
  flex: 0 0 40%; 
  margin-right: 3rem; 
}

.additional-section-image img {
  width: 100%; 
  border-radius: 5px; 
  object-fit: cover; 
}

.additional-section-content {
  flex: 1; 
}

.additional-section h2 {
  font-size: 2.2rem; 
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #222; 
  text-align: center; 
}

.additional-section p,
.additional-section li {
  font-size: 1.1rem; 
  line-height: 1.7;
  color: #555; 
}

.additional-section ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
  text-align: center; 
}

.additional-section li {
  margin-bottom: 1rem; 
  transition: text-decoration 0.3s ease-in-out, color 0.3s ease-in-out;
  text-decoration: none;
}

.additional-section li:hover {
  color: #3399cc; 
  text-decoration: underline 2px solid #3399cc; 
}

/* Item */
.item {
  border-radius: 0;
}

.item-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.item-col {
  display: flex;
  align-items: stretch;
  padding: 10px;
}

.item-col .details-link {
  width: 100%;
}

.item-col .details-link > div {
  height: 100%;
}

.item-col .details-link > div > div {
  height: 100%;
}
/* Authentic Section */
.auth-section {
  display: flex;
  color: white;
}

.auth-section a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.auth-section a:hover {
  color: white;
} 

.auth-section-img {
  width: 100%;
  height: 100%;
}

.auth-section-text {
  width: 100%;
  background-color: rgb(20, 20, 20);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.auth-section button {
  width: 150px;
  height:40px;
  transition: background-color 0.3s, color 0.3s;
}

.auth-section button:hover {
  background-color: #a48c67;
  color: white;
}

.auth-section-img img{
  width: 100%;
  height: 100%;
}

/* Attributes Section */
.attr-container {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attr-section {
  display: flex;
  max-width: 1200px;
  margin: 10px;
}

.attribute-1,
.attribute-2,
.attribute-3 {
   margin: 0 10px;
  border-left: 1px solid #8C7758 !important;
  padding-left: 30px;
  /* color:white; */
}

@media only screen and (max-width: 768px) { /* For mobile */
  .attribute-1,
  .attribute-2,
  .attribute-3 {
    width: 100%; 
    margin-bottom: 20px; 
  }
}

@media only screen and (max-width: 600px) { /* For mobile */
  .attr-section{
    width: 100%; 
    margin-bottom: 20px; 
    flex-direction: column;
  }
}

.button-container {
  margin-top: 60px; 
}

.button-container a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.button-container button {
  width: 200px;
  height: 45px;
  background-color: #8C7758;
  color: white;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}
.button-container button:hover {
background-color: #a48c67;

}

/* Explore */
.explore-header {
  text-align: center;
  margin: 0 0 30px;
  color: white;
}

.explore-row {
  pointer-events: none;
}

.explore-link{
  color: white;
  text-decoration: none;
  pointer-events: auto;
}

.explore-link:hover {
  text-decoration: underline;
  pointer-events: auto;
}

/* Login */ 
.login-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.login-form {
border: 0.1px solid black;
height: 60%;
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.login-form h1 {
 padding-bottom: 20px;;
}

.input {
  width: 95%
}

.login-form button {
  width: 95%;
  color: white;
  background-color: black;
  border: none;
  padding: 10px;
}

.login-form a {
  text-decoration: none;
  color: white;
}

.login-form p {
  margin: 10px;
}

.login-form p a {
  color: black;
  text-decoration: underline;
}

.login-form p a:hover {
  font-weight: 500;
}

/* Register */
.register-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.register-form {
border: 0.1px solid black;
height: 60%;
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.register-form h1 {
 padding-bottom: 20px;;
}

.input {
  width: 95%
}

.register-form button {
  width: 95%;
  color: white;
  background-color: black;
  border: none;
  padding: 10px;
}

.register-form a {
  text-decoration: none;
  color: white;
}

.register-form p {
  margin: 10px;
}

.register-form p a {
  color: black;
  text-decoration: underline;
}

.register-form p a:hover {
  font-weight: 500;
}

.checkbox {
  padding-top: 7px;
}

/* Watches Page/Watch */
.watches-page-hero {
  background:  url('/images/watches/all-watches.avif');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 70vh; 
}

.watches-page-hero h1 {
  color: black;
  text-decoration: underline;
  margin: 30px;
}

.watches-page-hero p {
  color: black;
}

.watches-row-custom {
  height: 70vh ;
}

.watch-section {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent), url('/images/watches/section-img.jpeg');  background-size: cover;
  background-position: center;
  height: 400px; 
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  color: white;
}

.watch-section-overlay {
  position: absolute;
  left: 20px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.watch-section h2 {
  font-size: 50px;
  margin: 0;
  color: white;
}

.watch-section p {
  font-size: 30px;
  margin: 0;
  color: white;
}

.watch-link {
  text-decoration: none;
}

.watch-card-body {
  height: 200px;
}

.watch-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* Ties Page */
.ties-page-hero {
  background:linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.5)),  url('../public/images/ties/all-ties.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 70vh; 
}

.ties-page-hero h1 {
  color: black;
  text-decoration: underline;
  margin: 30px;
}

.ties-page-hero p {
  color: black;
}

.ties-row-custom {
  height: 70vh ;
}

.tie-section {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent), url('../public/images/ties/section-img.jpeg');  background-size: cover;
  background-position: center;
  height: 400px; 
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  color: white;
}

.tie-section-overlay {
  position: absolute;
  left: 20px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.tie-section h2 {
  font-size: 50px;
  margin: 0;
  color: white;
}

.tie-section p {
  font-size: 30px;
  margin: 0;
  color: white;
}

/* Shoes Page */
.shoes-page-hero {
  background:linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.3)),  url('../public/images/shoes/all-shoes.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 70vh; 
}

.shoes-page-hero h1 {
  color: black;
  text-decoration: underline;
  margin: 30px;
}

.shoes-page-hero p {
  color: black;
}

.shoes-row-custom {
  height: 70vh;
}

.shoe-section {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent), url('../public/images/shoes/section-img.jpeg');  background-size: cover;
  background-position: center;
  height: 400px; 
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  color: white;
}

.shoe-section-overlay {
  position: absolute;
  left: 20px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.shoe-section h2 {
  font-size: 50px;
  margin: 0;
  color: white;
}

.shoe-section p {
  font-size: 30px;
  margin: 0;
  color: white;
}

/* Belts Page */
.belts-page-hero {
  background:linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.3)),  url('../public/images/belts/all-belts.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100vw; 
  height: 70vh; 
}

.belts-page-hero h1 {
  color: black;
  text-decoration: underline;
  margin: 30px;
}

.belts-page-hero p {
  color: black;
}

.belts-row-custom {
  height: 70vh;
}

.belt-section {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent), url('../public/images/belts/section-img.jpeg');  background-size: cover;
  background-position: center;
  height: 400px; 
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  color: white;
}

.belt-section-overlay {
  position: absolute;
  left: 20px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.belt-section h2 {
  font-size: 50px;
  margin: 0;
  color: white;
}

.belt-section p {
  font-size: 30px;
  margin: 0;
  color: white;
}

/* Details Pages */
.details-container-custom {
  padding: 200px !important;
}

.details-info {
  display: flex;
  flex-direction: column;
}

.details-info a{
text-decoration: none;
padding: 10px;
}
.details-info a:hover{
text-decoration: underline;

}

.details-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  margin-bottom: 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: brightness(0); 
}

.carousel-control-prev, .carousel-control-next {
  width: 7%; 
  filter: brightness(0.5); 
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  filter: brightness(0.8); 
}

.carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.817); 
}

.carousel-indicators .active {
  background-color: #000000a5; 
}

.add-to-cart-btn {
  background-color: grey;
  border: none;
  border-radius: 0;
}
.add-to-cart-btn:hover {
  background-color: rgb(150, 150, 150);
 
}

/* Cart Page */
.cart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
}

.cart-item-image {
  max-width: 200px; 
  height: auto; 
  margin-bottom: 10px; 
}

.cart-item-details {
  text-align: center; 
  display: flex;
  flex-direction: column;
}

.cart-item-details button {
  border-radius: 0;
  color:#aaa;
  background-color: transparent;
  border: none;
}

.cart-item-details button:hover {
  background-color: transparent;
  color: #7f7f7f;
}

.cart-container-custom {
  padding-top: 10%;
}

.checkout-btn-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.checkout-btn {
  background-color: black;
  border: none;
  border-radius: 0;
  padding: 10px;
  margin: 10px;
  margin-left: 40%;
  width: 20%;

}

.checkout-btn a {
  color: white;
  text-decoration: none;
}


.checkout-form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.checkout-form-container h2 {
  margin-bottom: 20px;
}

.checkout-form-container p {
  margin-top: 20px;
}

.checkout-form-container a {
  color: #007bff;
  text-decoration: none;
}

.checkout-form-container a:hover {
  text-decoration: underline;
}

.place-order-btn {
  color: white;
  width: 100%;
  margin-top: 10px;
  border-radius: 0;
  background-color: black;
  border:none;
}

.off-canvas {
  z-index: 10000;
  background-color:rgb(20, 20, 20);
  color: white;
}

.off-canvas input {
  border-radius: 0;
}

/* Footer */
.footer {
  /* position: absolute; */
  width: 100%;
  background-color: #f8f9fa; 
  padding: 20px 0; 
  margin-bottom: 0;
  background-color: rgb(20, 20, 20);
  color:  lightgray !important;
  /* bottom: 0; */
}

.footer-logo {
  max-width: 60px; 
}

.btn-back-to-top {
  color: #fff; 
}

.btn-back-to-top:hover {
  color: #ccc; 
}

.btn-back-to-top:focus {
  color: #ccc; 
}

.btn-back-to-top svg {
  vertical-align: middle; 
}

.copyright {
  margin-top: 20px;
}











